body {
    background-color:aliceblue;
}

/* sets styles for the view high scores and timer along the top */
#navBar {
    font-size: 12px;
    margin: 8px;
    padding: 3px 10px 3px 3px;
   /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

/*Sets the styles on the page heading */
#quizDeclaration {
    padding: 20px;
    font-size: 24px;
   /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    display: flex;
    justify-content: center;
}

#startFnt {
    font-size: 16px;
   /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    padding: 20px;
    display: flex;
    justify-content: center;
}

.quizSpace {
    text-align: center;
}

/* styles for the container that holds the questions and answers */
#question-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* sets style for the answer buttons */
.answer-button {
    background-color: midnightblue;
    color: white;
    display: flex;
    margin-top: 10px;
   /* align-items: center; */
    width: 100%;
    text-align: center; 
}

/* sets style for the question buttons */
#question-Container button {
    border-radius: 2px;
}

/* start button styling */
#start-button {
    margin: 12px;
    padding: 10px, 20px;
    border-radius: 5px;
    background-color: midnightblue;
    color: white;
    border: none;
    box-sizing: border-box;
   /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    width: 90px;
    height: 30px;
}

/* sets the cursor on the start button */
#start-button:hover {
    cursor: pointer;
}

/* centers the start button */
#buttonCenter {
    display: flex;
    justify-content: center;
}

/* sets the cursor on the header view high scores text */
#scoreVwr:hover {
    cursor: pointer;
}


#scoreVwr {
    font-size: larger;
   /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

/* initially sets the scoreboard to hidden */
#score-board {
    display: none;
}

/* visuals for the score board */
.boardVisuals {
    width: 350px;
    min-height: 175px;
    border-radius: 6px;
    background-color: cornflowerblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color:white;
}

/* moves the submit button */
#submit-score {
    transform: translate(105%);
}

/* header for score board */
h2 {
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 18px;

}

ul:hover {
    cursor:pointer;
}

ol li {
    margin-left: 8px;
}

/* sets a cursor when hovering over answer buttons */
button:hover {
    cursor: pointer;
}

