body {
    background-color:aliceblue;
}

.quizSpace {
    text-align: center;
}

#quizDeclaration {
    padding: 20px;
    font-size: 24px;
   /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    display: flex;
    justify-content: center;
}

#startFnt {
    font-size: 16px;
   /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    padding: 20px;
    display: flex;
    justify-content: center;
}

#start-button {
    margin: 12px;
    padding: 10px, 20px;
    border-radius: 5px;
    background-color: midnightblue;
    color: white;
    border: none;
    box-sizing: border-box;
   /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    width: 90px;
    height: 30px;
}

#start-button:hover {
    cursor: pointer;
}

#buttonCenter {
    display: flex;
    justify-content: center;
}

#navBar {
    font-size: 12px;
    margin: 8px;
    padding: 3px 10px 3px 3px;
   /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.modal {
    width:fit-content;
    height:fit-content;
    display:flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#scoreVwr:hover {
    cursor: pointer;
}

#scoreVwr {
    font-size: larger;
   /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

#question-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-button {
    background-color: midnightblue;
    color: white;
    display: flex;
    margin-top: 10px;
   /* align-items: center; */
    width: 100%;
    text-align: center;
    
}
    

